
<!-- ปุ่ม -->
<div class="flex justify-center ">
    <button routerLink="/reading" 
        class="bg-black hover:opacity-25 text-white text-center font-bold py-2 px-4 rounded-sm border-black w-full max-w-9/10">
        อ่านตอนแรก
    </button>
</div>

<!-- content -->
<div class="flex justify-center mt-6">
    <div class="w-screen max-w-7xl pl-4">
        <div class="flex flex-wrap justify-start gap-5 ">
            <div *ngFor="let item of getRange(6)">
            <a routerLink='/reading' href="#">
            <div class="hover:scale-120">
                <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                    <img src="imagetoon\Chronicles-of-the-Demon-Faction.jpg" alt=""
                        class="w-full object-scale-down rounded-lg ">
                    <p class="text-center mt-2 font-semibold">ตอนที่ {{item+1}}</p>
                </div>
            </div>
        </a>
    </div>  
        </div>
    </div>
</div>