<app-navbar></app-navbar>
<div class="container ">
    <img class="h-150 w-full object-scale-down" src="imagetoon\Chronicles-of-the-Demon-Faction.jpg" alt="">
</div>
<h2 class="pl-4 pb-4 font-bold text-xl text-center">Chronicles-of-the-Demon-Faction-ตำนานการเกิดใหม่ในลัทธิมาร</h2>
<ul class="flex flex-row gap-3 pl-10 pb-4 opacity-50">
    <li class="hover:underline active:underline">หมวดหมู่</li>
    <li class="hover:underline active:underline">จำนวนเข้าชม</li>
    <li class="hover:underline active:underline">ยอดกดไลด์</li>
    <li class="hover:underline active:underline">เรตติ้ง</li>
    <li class="hover:underline active:underline">วันที่ลง</li>
</ul>
<div class="border-b-2">
</div>
<ul class="flex flex-row gap-3 pl-10 pt-4 pb-4 ">
    <li class="hover:underline active:underline">ตอนที่</li>
    <li class="hover:underline active:underline">ข้อมูล</li>
</ul>


<!-- ปุ่ม -->
<div class="container flex justify-center ">
    <button class="bg-black hover:opacity-25 text-white text-center font-bold py-2 px-4 rounded-sm border-black w-full max-w-9/10">
        อ่านตอนแรก
    </button>
</div>

<!-- content -->
<div class="flex justify-center mt-6">
    <div class="w-full max-w-7xl pl-4">
        <div class="flex flex-wrap justify-start gap-5">
                       
            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/I-Raised-the-Villains-Preciously.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 7</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/Juvenile-Offender.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 6</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/Solo-Max-Level-Newbie.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 5</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/Spy-X-Family.png" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 4</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/The-Extras-Academy-Survival-Guide.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 3</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/The-Poison-Master-of-Sacheon-Tang-Clan.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 2</p>
            </div>

            <div class="flex flex-col items-center w-36 md:w-40 lg:w-48 xl:w-56">
                <img src="imagetoon/The-World-After-the-end.jpg" alt=""
                    class="w-full h-56 object-cover rounded-lg hover:opacity-50">
                <p class="text-center mt-2 font-semibold">ตอนที่ 1</p>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>

