<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-amber-50 rounded-box z-1 mt-3 w-52 p-2 shadow"><ul class="bg-amber-50"></ul>
          <li><a>หมวดหมู่</a></li>
          <li><a>เรื่องยอดฮิต</a></li>
          <li><a>รายการโปรด</a></li>
          <li>
          <label class="input">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
              <input class="w-2xl" type="search" required placeholder="Search"/>
            </label>
          </li>
        </ul>
      </div>
      <a class="btn btn-ghost text-4xl">Webhwa</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 absolute right-0 ">
        <li><a href="#" class="mr-5 text-xl">หมวดหมู่</a></li>
        <li><a href="#" class="mr-5 text-xl">เรื่องยอดฮิต</a></li>
        <li><a href="#" class="mr-5 text-xl">รายการโปรด</a></li>
        <li>
        <label class="input bg-gray-100 ">
            <svg class="h-[1em] opacity-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
            <input class="w-2xl font-bold" type="search" required placeholder="Search"  disabled/>
          </label>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-success">เข้าสู่ระบบ</a>
    </div>
  </div>
