<div class="mt-5">
<p-carousel [value]="images" [numVisible]="1" [numScroll]="1" 
            [circular]="true" autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
    <div class="image-item flex justify-center items-center h-120  ">
      <img [src]="product.image" class="flex justify-center object-cover rounded-lg" alt="Image" />
    </div>
  </ng-template>
</p-carousel>
</div>
<!-- <div class="carousel w-full relative">

  <div id="slide1" class="carousel-item relative w-full">
    <img src="imagetoon/sliderimage.jpg" class="w-full h-[350px] object-cover">

    <div class="absolute inset-0 flex justify-between items-center px-5">
      <a href="#slide3" class="btn btn-circle bg-black/40 text-white hover:bg-black">❮</a>
      <a href="#slide2" class="btn btn-circle bg-black/40 text-white hover:bg-black">❯</a>
    </div>
  </div>


  <div id="slide2" class="carousel-item relative w-full">
    <img src="imagetoon/omniscient-reader-viewpoint-live-action-adaptation-poster.jpg" class="w-full h-[350px] object-cover">

    <div class="absolute inset-0 flex justify-between items-center px-5">
      <a href="#slide1" class="btn btn-circle bg-black/40 text-white hover:bg-black">❮</a>
      <a href="#slide3" class="btn btn-circle bg-black/40 text-white hover:bg-black">❯</a>
    </div>
  </div>


  <div id="slide3" class="carousel-item relative w-full">
    <img src="imagetoon/63e61f506b171.png" class="w-full h-[350px] object-cover">

    <div class="absolute inset-0 flex justify-between items-center px-5">
      <a href="#slide2" class="btn btn-circle bg-black/40 text-white hover:bg-black">❮</a>
      <a href="#slide1" class="btn btn-circle bg-black/40 text-white hover:bg-black">❯</a>
    </div>
  </div>
</div> -->



<div class="container mx-auto px-5 mt-10">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl md:text-2xl font-bold">อัพล่าสุด</h2>
    <a routerLink="/hitmanhwa" href="#" class="text-gray-600 hover:text-black flex items-center text-sm md:text-base font-medium">
      เพิ่มเติม <span class="ml-1">❯</span>
    </a>
  </div>
    <div class="grid grid-cols-4 gap-30"> <!-- อัพล่าสุด -->
      <div *ngFor="let item of alldata let i = index">
        <div routerLink="/detail" class="relative group cursor-pointer max-w-xs overflow-hidden bg-cover bg-no-repeat">
        <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
          <div *ngIf="i <= 3" class="absolute top-1 left-1 sm:top-2 sm:left-2 bg-red-500 text-white text-[10px] sm:text-xs px-1 sm:px-2 py-0.5 sm:py-1 rounded-full">ใหม่</div>
          <div *ngIf="i > 3" class="absolute top-1 left-1 sm:top-2 sm:left-2 bg-green-500 text-white text-[10px] sm:text-xs px-1 sm:px-2 py-0.5 sm:py-1 rounded-full">อัปเดต</div>
          <img   [src]="item.photo" class="w-full h-full object-cover max-w-xs transition duration-300 ease-in-out hover:scale-110"/>
        </div>
      </div>
    </div>

    </div>
  </div>


  <div class="container mx-auto px-5 mt-10">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl md:text-2xl font-bold">หมวดหมู่ยอดนิยม</h2>
      <a routerLink="/catagory" href="#" class="text-gray-600 hover:text-black flex items-center text-sm md:text-base font-medium">
        เพิ่มเติม <span class="ml-1">❯</span>
      </a>
    </div>
      <div class="grid grid-cols-3 gap-30"> <!-- หมวดหมู่ยอดนิยม -->

        <div class="relative group cursor-pointer">
          <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
            <img src="imagetoon/monster.png" class="w-full h-full object-cover">
          </div>

          <!-- ข้อความอยู่บนรูป -->
          <div class="absolute inset-0 flex flex-col justify-end bg-black/50 p-4">
            <h3 class="text-white text-lg font-bold">จิตวิทยา</h3>
            <p class="text-gray-300 text-sm">ต่อสู้/พลังภายใน/แก้แค้น</p>
          </div>
        </div>


        <div class="group relative  cursor-pointer backdrop-opacity-80">
          <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
            <img src="imagetoon/gintama.jpg" class="w-full h-full object-cover">
            <div class=" flex flex-col absolute inset-0  justify-end bg-black/50 p-4 test-hover">
              <h3 class="text-white text-lg font-bold">คอมเมดี้</h3>
              <p class="text-gray-300 text-sm">ตลก/ชีวิตประจำวัน/ยุคปัจจุบัน</p>
            </div>
          </div>
          </div>
       

          <!-- ข้อความอยู่บนรูป -->
        

        <div class="relative group cursor-pointer">
          <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
            <img src="imagetoon/the-best-school-romance-manhwa-webtoons-you-must-read.jpg" class="w-full h-full object-cover">
          </div>

          <!-- ข้อความอยู่บนรูป -->
          <div class="absolute inset-0 flex flex-col justify-end bg-black/50 p-4">
            <h3 class="text-white text-lg font-bold">ดราม่า</h3>
            <p class="text-gray-300 text-sm">ในโรงเรียน/ความรัก/ชีวิตประจำวัน</p>
          </div>
        </div>

      </div>
    </div>


        <div class="container mx-auto px-5 mt-10">
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl md:text-2xl font-bold">เรื่องใหม่มาแรง</h2>
            <a routerLink="/hitmanhwa" href="#" class="text-gray-600 hover:text-black flex items-center text-sm md:text-base font-medium">
              เพิ่มเติม <span class="ml-1">❯</span>
            </a>
          </div>
            <div class="grid grid-cols-4 gap-30"> <!-- เรื่องใหม่มาแรง -->


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/danzai.jpg" class="w-full h-full object-cover">
                </div>
                <div class="absolute top-1 left-1 sm:top-2 sm:left-2 bg-red-500 text-white text-[10px] sm:text-xs px-1 sm:px-2 py-0.5 sm:py-1 rounded-full">ใหม่</div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/A Comic Artist’s Survival Guide.jpg" class="w-full h-full object-cover">
                </div>
                <div class="absolute top-1 left-1 sm:top-2 sm:left-2 bg-green-500 text-white text-[10px] sm:text-xs px-1 sm:px-2 py-0.5 sm:py-1 rounded-full">อัปเดต</div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/Chronicles-Of-The-Martial-Gods-Return.jpg" class="w-full h-full object-cover">
                </div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/Killer-Peter.jpg" class="w-full h-full object-cover">
                </div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/Jungle-Juice-SS2.jpg" class="w-full h-full object-cover">
                </div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/New-Employee-Kim-Chul-Soo.jpg" class="w-full h-full object-cover">
                </div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/Bad-Bone-Blood.jpg" class="w-full h-full object-cover">
                </div>
              </div>


              <div class="relative group cursor-pointer">
                <div class="w-full aspect-[2/3] overflow-hidden rounded-lg shadow-md">
                  <img src="imagetoon/Your-Talent-is-Mine-2.jpg" class="w-full h-full object-cover">
                </div>
              </div>

            </div>
          </div>
