<body class="flex flex-col min-h-screen">
    <!-- คอนเทนต์หลัก -->
    <div class="flex-grow">
        <div class="list font-Kanit">
            <div class="navbar bg-base-100 shadow-sm mt-5">
                <div class="navbar-start">
                    <a class="btn btn-ghost text-xl hidden">daisyUI</a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal">
                        <li><p  class="text-xl mr-20 font-bold" [class.border-b-4]="activeMenu === 'ใหม่'" (click)="setActiveMenu('ใหม่')">ใหม่</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'จันทร์'" (click)="setActiveMenu('จันทร์')">จันทร์</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'อังคาร'" (click)="setActiveMenu('อังคาร')">อังคาร</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'พุธ'" (click)="setActiveMenu('พุธ')">พุธ</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'พฤหัส'" (click)="setActiveMenu('พฤหัส')">พฤหัส</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'ศุกร์'" (click)="setActiveMenu('ศุกร์')">ศุกร์</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'เสาร์'" (click)="setActiveMenu('เสาร์')">เสาร์</p></li>
                        <li><p  class="text-xl mr-20 font-bold"  [class.border-b-4]="activeMenu === 'อาทิตย์'" (click)="setActiveMenu('อาทิตย์')">อาทิตย์</p></li>
                    </ul>
                </div>
                <div class="navbar-end"></div>
            </div>
        </div>
        <div class="container mx-auto pt-20 font-Kanit">
            <label *ngIf="activeMenu === 'ใหม่'" class="col-span-3 text-2xl ml-15">เรื่องใหม่ยอดฮิต</label>
            <label *ngIf="activeMenu !== 'ใหม่'" class="col-span-3 text-2xl ml-15">อัพเดทวัน{{activeMenu}}</label>
            <app-list-hitmanhwa [activeMenu]="activeMenu"/>
        </div>
    </div> 