/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

.font-Kanit {
    font-family: 'Kanit', 'Lato', 'Mitr', 'Roboto', sans-serif;
  }
.font-yeon{
  font-family: "Yeon Sung", system-ui;
}
  .bg-navbar{
    background-color: rgb(247, 246, 253);
  }
  .bg-footer{
    background-color: black   ;
  }
